<!--NOTE-->
<div style="padding-bottom:10px;"><img src="Assets/img/topborder.png" width="1024px"></div>
<div id="fixed-note">

	<p id="p-1">NOTE:</p>
	<p style="width:480px; padding-right:15px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptate pariatur nemo reprehenderit, harum asperiores accusantium repellendus et eveniet. Quod explicabo, expedita sequi assumenda obcaecati quam nostrum possimus sit ex a accusantium. Ducimus est totam, reprehenderit rem nihil assumenda! Dolorem nulla alias, similique eveniet quam.  </p>
	<p style="width:455px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique velit magnam assumenda libero, excepturi aut incidunt quisquam nobis laborum adipisci impedit sapiente ut earum iusto commodi alias consequatur tempore ipsum aperiam tenetur? Vero iure expedita hic, amet ex molestias tempore repellendus eligendi delectus</p>
	<div class="clear"></div>
</div>
<div style="padding-top:10px;"><img src="Assets/img/bottomborder.png" width="1024px"></div>